<h1>Products#edit</h1>
<form action="/products/<%= @product.id %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="_method" value="patch">
	<label for="name">Product Name</label>
	<input type="text" id="name" name="product[name]" value="<%= @product.name %>">
	
	<label for="description">Description</label>
	<input type="text" id="description" name="product[description]" value="<%= @product.description %>">
	
	<label for="pricing">Price</label>
	<input type="text" id="pricing" name="product[pricing]" value="<%= @product.pricing %>">
	<label for="category">Category</label>
	<%= select_tag 'product[category_id]', options_for_select(@categories.collect{ |c| [c.name, c.id] }) %>

	<input type="submit" value="Update">
</form>
<a href="/products">Back</a>
