<h1>Products Main Page</h1>
<% @products.each do |p| %>
<h4><%= p.name %><a href="/products/<%= p.id %>">Show</a></h4>
<h5>$<%= "%.2f" % p.pricing %></h5>
<p><%= p.description %></p>
<form action="/products/<%= p.id %>" method= "post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="_method" value="delete">
</form>
<br>
<% end %>
<a href="/products/new">New Product</a>