<h1>Products Main Page</h1>

<table border="2">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th>Category</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% @products.each do |p| %>
		<tr>
			<td><%= p.name %></td>
			<td><%= p.description %></td>
			<td>$<%= "%.2f" % p.pricing %></td>
			<td><%= p.category.name %></td>

			<td><a href="/products/<%= p.id %>">Show</a> | 
				<a href="/products/<%= p.id %>/edit">Edit</a> | 
				<form action="/products/<%= p.id %>" method= "post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="hidden" name="_method" value="delete">
					<input type="submit" value="delete">
				</form>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<br>
<a href="/products/new">New Product</a>